language: python
python:
  - "3.6"
cache: pip
dist: trusty
sudo: false
group: edge
install:
  - make install
script:
  - make test
after_success:
  - codecov
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: docs/build
  on:
    branch: master
