include bash-completion/blackhole-completion.bash
include CHANGELOG.rst
include CODE_OF_CONDUCT.rst
include CONTRIBUTING.rst
include CONTRIBUTORS.rst
include example.conf
include LICENSE
include README.rst
include THANKS.rst
include TODO.rst
