[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = '3.6'

[dev-packages]
pytest = '*'
pytest-asyncio = '*'
flake8 = '*'
flake8-colors = '*'
flake8-commas = '*'
flake8-docstrings = '*'
flake8-import-order = '*'
flake8-pep3101 = '*'
flake8-sorted-keys = '*'
flake8-string-format = '*'
flake8-todo
sphinx = '*'
