[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
setproctitle = { extras = ['setproctitle'] }
uvloop = { extras = ['uvloop'] }

[dev-packages]
sphinx = "*"
guzzle_sphinx_theme = "*"
pytest = "*"
pytest-asyncio = "*"
pre-commit = "*"
tox = "*"
