-i https://pypi.python.org/simple
alabaster==0.7.12
aspy.yaml==1.2.0
atomicwrites==1.3.0
attrs==19.1.0
babel==2.6.0
certifi==2019.3.9
cfgv==1.6.0
chardet==3.0.4
coverage==4.5.3
docutils==0.14
filelock==3.0.10
guzzle-sphinx-theme==0.7.11
identify==1.4.3
idna==2.8
imagesize==1.1.0
importlib-metadata==0.11
importlib-resources==1.0.2 ; python_version < '3.7'
jinja2==2.10.1
markupsafe==1.1.1
more-itertools==7.0.0 ; python_version > '2.7'
nodeenv==1.3.3
packaging==19.0
pluggy==0.11.0
pre-commit==1.16.1
py==1.8.0
pygments==2.4.0
pyparsing==2.4.0
pytest-asyncio==0.10.0
pytest-cov==2.5.1
pytest==4.5.0
pytz==2019.1
pyyaml==5.1
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
tox==3.10.0
urllib3==1.24.3
virtualenv==16.5.0
wcwidth==0.1.7
zipp==0.5.0
