alabaster==0.7.10
attrs==17.4.0
Babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
codecov==2.0.15
colorama==0.3.9
coverage==4.5.1
cssmin==0.2.0
docutils==0.14
flake8==3.5.0
flake8-polyfill==1.0.2
guzzle-sphinx-theme==0.7.11
htmlmin==0.1.12
idna==2.6
imagesize==1.0.0
Jinja2==2.10
jsmin==2.2.2
mando==0.6.4
MarkupSafe==1.0
mccabe==0.6.1
mypy-extensions==0.3.0
packaging==17.1
pluggy==0.6.0
py==1.5.2
pyannotate==1.0.5
pycodestyle==2.3.1
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
pylama==7.4.3
pyparsing==2.2.0
pytest==3.4.2
pytest-asyncio==0.8.0
pytest-cov==2.5.1
pytz==2018.3
radon==2.2.0
requests==2.18.4
setproctitle==1.1.10
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.1
sphinxcontrib-websupport==1.0.1
urllib3==1.22
uvloop==0.9.1
